<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Rocketwares Attendance App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="./css/style.css" />
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="./js/bootstrap.min.js">
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="text-dark d-flex justify-content-end">
            <div class="">
                <a class="navbar-brand" href="index.html"><img src="./img/RWL.png" alt=""></a>
            </div>
            <div >
                <img src="./img/NA.png"  alt="" class=>
            </div>
        </div>
    </nav>
   <main>
        <div class="container">
            <div class="pt-5">
                <div class="text-center">
                    <div>
                        <img class="img-fluid" src="./img/avatar.png" alt="Profile Picture">
                    </div>
                    <div class="d-flex justify-content-center">
                        <div>
                            <button class="btn btn-success btn-lg m-1">CHECK IN</button>
                        </div>
                        <div>
                            <button class="btn btn-danger btn-lg m-1">ABSENT</button>
                        </div>
                        <div>
                            <button class="btn btn-warning btn-lg m-1">SICK</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script src="main.js"></script>
</body>
</html>