<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Rocketwares Attendance App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="./css/style.css" />
    <link rel="stylesheet" href="./css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-custom navbar-expand-lg">
        <div class="text-dark d-flex justify-content-between">
            <div class="">
                <a class="navbar-brand" href="index.html"><img src="./img/RWL.png" alt=""></a>
            </div>
            <div >
                <!-- <img src="./img/NA.png"  alt="" class=> -->
                <h1 class="ml-auto">LOGOUT</h1>
            </div>
        </div>
    </nav>
   <main>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2 pt-3 side">
                    <h2 class="text-center">RECORD</h2>
                    <input class="col btn-lg mt-1 form-control" type="button" value="OLDER">
                    <input class="col btn-lg mt-1" type="button" value="MAY">
                    <input class="col btn-lg mt-1" type="button" value="JUNE">
                    <input class="col btn-lg mt-1" type="button" value="JULY">
                    <input class="col btn-lg mt-1" type="button" value="AUGUST">
                </div>
                <div class="col-md-10 right">
                    <div class="d-flex justify-content-center pt-2 ">
                        <div class="">
                            <div class="">
                                <h3 class="text-center">ROLL No: 01</h3>
                                <img class="img-fluid rounded-circle avt" src="./img/avatar.png" alt="Profile Picture">
                            </div>
                            <div >
                                <h3 class="text-center">SEMMWA WILSON</h3>
                                <div class="d-flex justify-content-center pt-2">
                                    <div>
                                        <button type="button" class="btn btn-success btn-lg m-1" data-toggle="modal" data-target="#myModal">PRESENT</button>
                                    </div>
                                    <div>
                                        <button type="button" class="btn btn-danger btn-lg m-1" data-toggle="modal" data-target="#myModal">ABSENT</button>
                                    </div>
                                    <div>
                                        <button type="button" class="btn btn-warning btn-lg m-1" data-toggle="modal" data-target="#myModal">SICK</button>
                                    </div>
                                </div>
                            </div>
                            <div class="modal" id="myModal" tabindex="-1" role="dialog">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <!-- Modal Header -->
                                    <!-- <div class="modal-header">
                                    </div> -->
                                    <!-- Modal body -->
                                    <div class="modal-body text-center">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <!-- <h4 class="modal-title">Modal Heading</h4> -->
                                    <h5 class="text-success ">Response submitted successfully</h5>
                                    <!-- <button type="button" class="btn btn-danger text-center" data-dismiss="modal">Close</button> -->
                                    </div>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script src="main.js"></script>
    <script src="./jquery/jquery.js"></script>
    <script src="./js/bootstrap.min.js"></script>
</body>
</html>