.navbar-custom{
    background: #cbe2ec;
}
main{
    height: 84vh;
    background: #e1f0f7;
}
.avt{
    height: 300px;
    width: 300px;
}
.side{
    border-right: 3px solid #cbe2ec;
}
.side input{
    width: 100%;
    background: #cbe2ec;
}
.right{
    /* border: 1px solid red; */
}