.navbar-custom{
    background: #cbe2ec;
}
main{
    height: 90vh;
    background: #e1f0f7;
}
.avatar{
    height: 250px;
    width: 250px;
    /* border: 1px solid #000000; */
}
.avt{
    height: 300px;
    width: 300px;
}